#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# mod-barberchair Configuration
########################################
#
#    Barberchair.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.Enable = 0

#
#    Barberchair.FullAppearanceChangeFeature.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.FullAppearanceChangeFeature.Enable = 1
Barberchair.FullAppearanceChangeFeature.MoneyPrice = 500000

#
#    Barberchair.RaceChangeFeature.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.RaceChangeFeature.Enable = 0
Barberchair.RaceChangeFeature.MoneyPrice = 10000000

#
#    Barberchair.FactionChangeFeature.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.FactionChangeFeature.Enable = 0
Barberchair.FactionChangeFeature.MoneyPrice = 20000000

#
#    Barberchair.NameChangeFeature.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.NameChangeFeature.Enable = 0
Barberchair.NameChangeFeature.MoneyPrice = 2500000

#
#    Barberchair.BaseFeature.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.BaseFeature.Enable = 1

#
#    Barberchair.BaseFeature.RaceExclusion
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.BaseFeature.RaceExclusion = 9,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31

#
#    Barberchair.ModIndividualProgression.Integration.Enable
#        Default:     0 - Disabled
#                     1 - Enabled
#

Barberchair.ModIndividualProgression.Integration.Enable = 0
